In [89]:
import sqlite3
import numpy as np
import pandas as pd
import datetime

In [5]:
conn = sqlite3.connect("test4.dbx")

In [13]:
with conn:
    c = conn.cursor()
    c.execute("select * from sqlite_master")
    data = c.fetchall()
    columns = [col[0] for col in c.description]

In [14]:
columns

['type', 'name', 'tbl_name', 'rootpage', 'sql']

In [15]:
data

[('table',
  'Moje_TEMP',
  'Moje_TEMP',
  2,
  'CREATE TABLE "Moje_TEMP" ("GENDER_TXT" text, "TITLE_ACA1T" text, "VEK" int, "ZZDEATHDT" datetime, "BPCONTFCT_ORG" text, "LEGAL_ENTYT" text, "ZAMESTNANEC" text, "DLUZNIK" text, "BONITA_OP_Sum" int, "POCET_SMLUV_PLYN" int, "POCET_SMLUV_PLYN_AKTIVNI" int, "POCET_SMLUV_PLYN_VAKTIVACI" int, "POCET_SMLUV_EE" int, "POCET_SMLUV_EE_AKTIVNI" int, "POCET_SMLUV_EE_VAKTIVACI" int, "EINZDAT" datetime, "AUSZDAT" datetime, "DIVISIONT" text, "C_ABSZYKT" text, "UCACTDETIDT" text, "UCCON_CLAST" text, "DISTRIBUTOR" text, "SPOTREBA_MWH_AKTUALNI_PLYN" real, "SPOTREBA_MWH_AKTUALNI_EE" real, "ZZEDIRATE" text, "ZZVBSARTT" text, "MS_REGIONT" text, "MS_COMMU_CODE" int, "MS_krajn" text, "MS_okresn" text, "MS_POCET_OBYVATEL" int, "OP_REGIONT" text, "OP_COMMU_CODE" int, "KA_REGIONT" text, "KA_COMMU_CODE" int, "WU_branch" text, "WU_distance" real, "WU_duration" int, "PARTNER" int, "VERTRAG" int, DIVISION TEXT)')]

In [16]:
with conn:
    c = conn.cursor()
    c.execute("select * from Moje_TEMP")
    data = c.fetchall()
    columns = [col[0] for col in c.description]

In [17]:
columns

['GENDER_TXT',
 'TITLE_ACA1T',
 'VEK',
 'ZZDEATHDT',
 'BPCONTFCT_ORG',
 'LEGAL_ENTYT',
 'ZAMESTNANEC',
 'DLUZNIK',
 'BONITA_OP_Sum',
 'POCET_SMLUV_PLYN',
 'POCET_SMLUV_PLYN_AKTIVNI',
 'POCET_SMLUV_PLYN_VAKTIVACI',
 'POCET_SMLUV_EE',
 'POCET_SMLUV_EE_AKTIVNI',
 'POCET_SMLUV_EE_VAKTIVACI',
 'EINZDAT',
 'AUSZDAT',
 'DIVISIONT',
 'C_ABSZYKT',
 'UCACTDETIDT',
 'UCCON_CLAST',
 'DISTRIBUTOR',
 'SPOTREBA_MWH_AKTUALNI_PLYN',
 'SPOTREBA_MWH_AKTUALNI_EE',
 'ZZEDIRATE',
 'ZZVBSARTT',
 'MS_REGIONT',
 'MS_COMMU_CODE',
 'MS_krajn',
 'MS_okresn',
 'MS_POCET_OBYVATEL',
 'OP_REGIONT',
 'OP_COMMU_CODE',
 'KA_REGIONT',
 'KA_COMMU_CODE',
 'WU_branch',
 'WU_distance',
 'WU_duration',
 'PARTNER',
 'VERTRAG',
 'DIVISION']

In [18]:
data[1]

('žena',
 None,
 67,
 '1900-01-01 00:00:00',
 None,
 None,
 'O',
 'O',
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 '2011-07-01 00:00:00',
 '9999-12-31 00:00:00',
 'Elektřina',
 'Měsíční interval záloh',
 'Domácnosti',
 'Ukončeno pro změnu dodavatele',
 'ČEZ Distribuce, a.s.',
 None,
 3.693,
 'D02D',
 None,
 'Jeseník',
 597996,
 'Olomoucký',
 'Jeseník',
 4028,
 'Jeseník',
 597996,
 'Jeseník',
 597996,
 'Zákaznické centrum Opava',
 66.6,
 64,
 742,
 720,
 'E2')

In [19]:
with conn:
    df = pd.read_sql("select * from Moje_TEMP", con = conn)

In [20]:
df

,GENDER_TXT,TITLE_ACA1T,VEK,ZZDEATHDT,BPCONTFCT_ORG,LEGAL_ENTYT,ZAMESTNANEC,DLUZNIK,BONITA_OP_Sum,POCET_SMLUV_PLYN,...,OP_REGIONT,OP_COMMU_CODE,KA_REGIONT,KA_COMMU_CODE,WU_branch,WU_distance,WU_duration,PARTNER,VERTRAG,DIVISION
0,žena,None,67.0,1900-01-01 00:00:00,None,None,O,O,0,0,...,Jeseník,597996.0,Jeseník,597996.0,Zákaznické centrum Opava,66.6,64,742,719,E2
1,žena,None,67.0,1900-01-01 00:00:00,None,None,O,O,0,0,...,Jeseník,597996.0,Jeseník,597996.0,Zákaznické centrum Opava,66.6,64,742,720,E2
2,muž,None,47.0,1900-01-01 00:00:00,None,None,O,O,0,1,...,Jeseník,536385.0,Jeseník,536385.0,Zákaznické centrum Šumperk,48.0,52,7660,721,02
3,muž,None,43.0,1900-01-01 00:00:00,None,None,O,O,0,1,...,Bruntál,597937.0,Bruntál,597937.0,Zákaznické centrum Opava,18.3,17,7661,722,02
4,muž,Ing.,58.0,1900-01-01 00:00:00,None,None,O,O,0,2,...,Bruntál,597449.0,Bruntál,597449.0,Zákaznické centrum Opava,50.6,50,495,723,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,žena,None,83.0,1900-01-01 00:00:00,None,None,O,O,0,1,...,Rakovník,541656.0,Rakovník,541656.0,Zákaznické centrum Kladno,33.7,38,4282,1714,02
996,muž,None,50.0,1900-01-01 00:00:00,None,None,O,O,0,1,...,Mělník,535087.0,Mělník,535087.0,Zákaznické centrum Praha - Eden,33.8,34,7738,1715,02
997,muž,None,43.0,1900-01-01 00:00:00,None,None,O,O,0,5,...,Mladá Boleslav,535419.0,Mladá Boleslav,535419.0,Zákaznické centrum Mladá Boleslav,1.6,3,7739,1716,E2
998,muž,None,43.0,1900-01-01 00:00:00,None,None,O,O,0,5,...,Mladá Boleslav,535419.0,Mladá Boleslav,535419.0,Zákaznické centrum Mladá Boleslav,1.6,3,7739,1717,E2
999,muž,None,43.0,1900-01-01 00:00:00,None,None,O,O,0,5,...,Mladá Boleslav,535419.0,Mladá Boleslav,535419.0,Zákaznické centrum Mladá Boleslav,1.6,3,7739,1718,02

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GENDER_TXT                  999 non-null    object
 1   TITLE_ACA1T                 157 non-null    object
 2   VEK                         999 non-null    float64
 3   ZZDEATHDT                   1000 non-null   object
 4   BPCONTFCT_ORG               0 non-null      object
 5   LEGAL_ENTYT                 0 non-null      object
 6   ZAMESTNANEC                 1000 non-null   object
 7   DLUZNIK                     1000 non-null   object
 8   BONITA_OP_Sum               1000 non-null   int64
 9   POCET_SMLUV_PLYN            1000 non-null   int64
 10  POCET_SMLUV_PLYN_AKTIVNI    1000 non-null   int64
 11  POCET_SMLUV_PLYN_VAKTIVACI  1000 non-null   int64
 12  POCET_SMLUV_EE              1000 non-null   int64
 13  POCET_SMLUV_EE_AKTIVNI      1000 non-null   int64
 14  POCET_SMLUV_EE_VAKTIVACI    1000 non-null   int64
 15  EINZDAT                     1000 non-null   datetime64[ns]
 16  AUSZDAT                     1000 non-null   object
 17  DIVISIONT                   1000 non-null   object
 18  C_ABSZYKT                   991 non-null    object
 19  UCACTDETIDT                 1000 non-null   object
 20  UCCON_CLAST                 587 non-null    object
 21  DISTRIBUTOR                 1000 non-null   object
 22  SPOTREBA_MWH_AKTUALNI_PLYN  661 non-null    float64
 23  SPOTREBA_MWH_AKTUALNI_EE    339 non-null    float64
 24  ZZEDIRATE                   325 non-null    object
 25  ZZVBSARTT                   850 non-null    object
 26  MS_REGIONT                  1000 non-null   object
 27  MS_COMMU_CODE               1000 non-null   int64
 28  MS_krajn                    1000 non-null   object
 29  MS_okresn                   1000 non-null   object
 30  MS_POCET_OBYVATEL           1000 non-null   int64
 31  OP_REGIONT                  964 non-null    object
 32  OP_COMMU_CODE               955 non-null    float64
 33  KA_REGIONT                  953 non-null    object
 34  KA_COMMU_CODE               943 non-null    float64
 35  WU_branch                   1000 non-null   object
 36  WU_distance                 1000 non-null   float64
 37  WU_duration                 1000 non-null   int64
 38  PARTNER                     1000 non-null   int64
 39  VERTRAG                     1000 non-null   int64
 40  DIVISION                    1000 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(12), object(22)
memory usage: 320.4+ KB

In [29]:
df["EINZDAT"] = pd.to_datetime(df["EINZDAT"])

In [36]:
df["AUSZDAT"] = pd.to_datetime(df["AUSZDAT"])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 9999-12-31 00:00:00

In [70]:
df["AUSZDAT"].astype('datetime64[ns]', copy=False)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 9999-12-31 00:00:00

In [74]:
a = np.array(df["AUSZDAT"], dtype = 'datetime64[ns]')

In [75]:
type(a)

numpy.ndarray

In [76]:
a[0]

numpy.datetime64('1816-03-29T05:56:08.066277376')

In [94]:
a = np.array([datetime.datetime.strptime("9999-12-31", "%Y-%m-%d"),datetime.datetime.strptime("2022-06-15", "%Y-%m-%d")])

In [95]:
type(a)

numpy.ndarray

In [97]:
type(a[0]), a[0]

(datetime.datetime, datetime.datetime(9999, 12, 31, 0, 0))

In [72]:
df['AUSZDAT'] = (df['AUSZDAT'].str.split()
                        .str[0]
                        .apply(lambda x: pd.Period(x, freq='D'))
                        .dt.strftime('%Y-%m-%d'))

In [67]:
df['AUSZDAT']

0      9999-12-31
1      9999-12-31
2      9999-12-31
3      9999-12-31
4      9999-12-31
          ...
995    9999-12-31
996    9999-12-31
997    9999-12-31
998    9999-12-31
999    9999-12-31
Name: AUSZDAT, Length: 1000, dtype: object

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GENDER_TXT                  999 non-null    object
 1   TITLE_ACA1T                 157 non-null    object
 2   VEK                         999 non-null    float64
 3   ZZDEATHDT                   1000 non-null   object
 4   BPCONTFCT_ORG               0 non-null      object
 5   LEGAL_ENTYT                 0 non-null      object
 6   ZAMESTNANEC                 1000 non-null   object
 7   DLUZNIK                     1000 non-null   object
 8   BONITA_OP_Sum               1000 non-null   int64
 9   POCET_SMLUV_PLYN            1000 non-null   int64
 10  POCET_SMLUV_PLYN_AKTIVNI    1000 non-null   int64
 11  POCET_SMLUV_PLYN_VAKTIVACI  1000 non-null   int64
 12  POCET_SMLUV_EE              1000 non-null   int64
 13  POCET_SMLUV_EE_AKTIVNI      1000 non-null   int64
 14  POCET_SMLUV_EE_VAKTIVACI    1000 non-null   int64
 15  EINZDAT                     1000 non-null   datetime64[ns]
 16  AUSZDAT                     1000 non-null   object
 17  DIVISIONT                   1000 non-null   object
 18  C_ABSZYKT                   991 non-null    object
 19  UCACTDETIDT                 1000 non-null   object
 20  UCCON_CLAST                 587 non-null    object
 21  DISTRIBUTOR                 1000 non-null   object
 22  SPOTREBA_MWH_AKTUALNI_PLYN  661 non-null    float64
 23  SPOTREBA_MWH_AKTUALNI_EE    339 non-null    float64
 24  ZZEDIRATE                   325 non-null    object
 25  ZZVBSARTT                   850 non-null    object
 26  MS_REGIONT                  1000 non-null   object
 27  MS_COMMU_CODE               1000 non-null   int64
 28  MS_krajn                    1000 non-null   object
 29  MS_okresn                   1000 non-null   object
 30  MS_POCET_OBYVATEL           1000 non-null   int64
 31  OP_REGIONT                  964 non-null    object
 32  OP_COMMU_CODE               955 non-null    float64
 33  KA_REGIONT                  953 non-null    object
 34  KA_COMMU_CODE               943 non-null    float64
 35  WU_branch                   1000 non-null   object
 36  WU_distance                 1000 non-null   float64
 37  WU_duration                 1000 non-null   int64
 38  PARTNER                     1000 non-null   int64
 39  VERTRAG                     1000 non-null   int64
 40  DIVISION                    1000 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(12), object(22)
memory usage: 320.4+ KB