In [17]:
import sqlite3

In [18]:
conn = sqlite3.connect("pp.dbx")

In [35]:
with conn:
    c = conn.cursor()
    c.execute("select * from sqlite_master where type = 'table'")
    columns = [col[0] for col in c.description]
    #data = c.fetchall()
    data = []
    row = c.fetchone()
    while row is not None:
        data.append(row)
        row = c.fetchone()

In [36]:
columns

['type', 'name', 'tbl_name', 'rootpage', 'sql']

In [37]:
data

[('table',
  'web_events',
  'web_events',
  2,
  'CREATE TABLE web_events (\n\tid integer,\n\taccount_id integer,\n\toccurred_at timestamp,\n\tchannel bpchar\n)'),
 ('table',
  'sales_reps',
  'sales_reps',
  92,
  'CREATE TABLE sales_reps (\n\tid integer,\n\tname bpchar,\n\tregion_id integer\n)'),
 ('table',
  'region',
  'region',
  93,
  'CREATE TABLE region (\n\tid integer,\n\tname bpchar\n)'),
 ('table',
  'orders',
  'orders',
  94,
  'CREATE TABLE orders (\n\tid integer,\n\taccount_id integer,\n\toccurred_at timestamp,\n\tstandard_qty integer,\n\tgloss_qty integer,\n\tposter_qty integer,\n\ttotal integer,\n\tstandard_amt_usd numeric(10,2),\n\tgloss_amt_usd numeric(10,2),\n\tposter_amt_usd numeric(10,2),\n\ttotal_amt_usd numeric(10,2)\n)'),
 ('table',
  'accounts',
  'accounts',
  221,
  'CREATE TABLE accounts (\n\tid integer,\n\tname bpchar,\n\twebsite bpchar,\n\tlat numeric(11,8),\n\tlong numeric(11,8),\n\tprimary_poc bpchar,\n\tsales_rep_id integer\n)')]

In [42]:
for row in data:
    print(row[1])

web_events
sales_reps
region
orders
accounts

In [45]:
for row in data:
    print(f"Select * from {row[1]};")

Select * from web_events;
Select * from sales_reps;
Select * from region;
Select * from orders;
Select * from accounts;